<div class="flex-container">
  <div>
    <br/>
    <h3>Bucket List</h3>
    Welcome
    <br/>
    Where else can we go?
    <form method="get" action="/cities">
      <input type="submit" value="Cities"/>
    </form>
    <form method="get" action="/countries">
      <input type="submit" value="Countries"/>
    </form>
  </div>
</div>


<!-- #  &nbsp&nbsp -->
<!-- <p><button class="btn" href="/countries">Countries</button></p>
<a href="/cities">Cities</a> -->
<!-- <button class="btn">button</button> -->
