<div class="flex-container">
  <div>
    <br/>
    <h2>Bucket Travel List</h2>
    Welcome
    <br/>
    Where else can we go?
    <a class= "btn" href="/countries">Countries</a>&nbsp&nbsp<a href="/cities">Cities</a>
  </div>
</div>
