<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8">
    <title>My Bucket List of Travels</title>
  </head>
  <body>
  <main>
    <section id="content">

    <%= yield %>

    </section>
    </main>
  </body>
</html>
