<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bucket Travel List</title>
  </head>
  <body>
  <main>
    <nav>
      <ul>
        <li>
          <a href="/countries">Countries</a>
        </li>
        <li>
          <a href="/cities">Cities</a>
        </li>
        <li>
          <a href="/travels">Travels</a>
        </li>
      </ul>
    </nav>
    <section id="content">
    <%= yield %>
    </section>
    </main>
  </body>
</html>
