<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8">
    <title>My Bucket List of Travels</title>
  </head>
  <body>
    <div class="flex-container">
      <div>
       <main>
          <section id="content">
          <%= yield %>
          </section>
        </main>
        <form method="get" action="/cities">
          <input type="submit" value="Cities"/>
        </form>
        <form method="get" action="/countries">
          <input type="submit" value="Countries"/>
        </form>
      </div>
    </div>
  </body>
</html>
