
<form method="POST" action="/cities/<%= @city.id %>">
  <div class="form-wrapper">

    <div class="form-cities">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%= @city.name %>"/>
    </div>

  </div>
  <input type="submit" value="Save"/>
</form>
