<H2>City List</H2>
<form method="get" action="/cities/new">
  <input type="submit" value="Add a New Destination"/>
</form>
<p><% @cities.each do |city| %></P>
  <a href="/cities/<%= city.id %>/edit"><%= city.name() %></a>
<% end %>
