<H1>New</H1>
<form method="POST" action="/new">
  <label for "city">
  Enter a city:
    <input type="text" name="city-id">
      <% for city in @cities %>
      <option value="<%= city.id %>"><%= city.name %></option>
      <% end %>
    </select>
  </label>
