<h2>New City</h2>
<form method="POST" action="/cities">
  <label for="city-name"></label>
    <input type="text" name="name" id="city-name"/>
  </label>
  <input type="submit" value="Add City"/>
</form>
