<h2>New City</h2>

<form method="POST" action="/cities">

  <div class="form-wrapper">
    <label for="name">Name:</label>
      <input type="text" name="name" id="name"/>
  </div>
    </label>
  </div>
  <div class="form-el">
    <input type="submit" value="Add City"/>
  </div>
</form>


<!--   commented out marker  -->
        <!-- <select name="city_id">
          <% for city in @cities %>
          <input value="<%= city.id %>"><%= city.name %></option>
          <% end %>
        </select> -->


        <!-- <% for city in @cities %>
        <option value="<%= city.id %>"><%= city.name %></option> -->
        <!-- <% end %> -->
