<h2>New City</h2>

<form method="POST" action="/cities">
  <div class="form-wrapper">
    <label for "city">
      Enter a new city:
      <input type="text" name="city-id">
<!--   commented out marker  -->
    </label>
  </div>
  <div class="form-el">
    <input type="submit" value="Add City"/>
  </div>
</form>

        <!-- <select name="city_id">
          <% for city in @cities %>
          <input value="<%= city.id %>"><%= city.name %></option>
          <% end %>
        </select> -->


        <!-- <% for city in @cities %>
        <option value="<%= city.id %>"><%= city.name %></option> -->
        <!-- <% end %> -->
