<H1>New</H1>

<!-- <form action="/new" method="post">
  <label for "city">
    Enter a new city:
    <input type="text" name="city-id">
    <select name="city_id">
      <% for city in @cities %>
      <option value="<%= city.id %>"><%= city.name %></option>
      <% end %>
    </select>
  </label>
  <div class="form-el">
    <input type="submit" value="Add City"/>
  </div>
</form> -->



        <!-- <% for city in @cities %>
        <option value="<%= city.id %>"><%= city.name %></option> -->
        <!-- <% end %> -->
