<!-- <p>Name: <%= @city.name %></p>
<p><a href="/cities/<%= @city.id %>/edit">Edit City</a></p>
<form method="post" action="/cities/<%= @city.id %>/delete">
  <input type="submit" value="Delete City"/>
</form> -->
