<h2>Edit Country</h2>
<form method="POST" action="/countries/<%= @country.id %>/edit">
  <label for="name"></label>
  <input type="text" name="name" id="name" value="<%= @country.name %>"/>
  <input type="submit" value="Update"/><br>
</form>
<form method="POST" action="/countries/<%= @country.id %>/delete">
  <input type="submit" value="Delete"/>
</form>
