<H2>Country List</H2>
<form method="get" action="/countries/new">
  <input type="submit" value="Add a New Destination"/>
</form>
<p><% for country in @countries %></p>
  <a href="/countries/<%= country.id %>/edit"><%= country.name %></a>
  <% end %>
