<H2>New</H2>
<form method="POST" action="/countries/new">
  <label for = "country-name">
  Enter a country:
    <input type="text" name="country_name" id="country-name">
  </label>
    <input type="submit" value="Add Country"/>
</form>


<!-- <% for country in @countries %>
<option value="<%= country.id %>"><%= country.name %></option>
<% end %>
</select> -->
