<div class="form-container">
  <h2>New Country</h2>
  <form method="POST" action="/countries/new">
    <label for = "country-name">
      <input type="text" name="name" id="country-name">
    </label>
      <input type="submit" value="Add Country"/>
  </form>
</div>
